---
layout: layout.liquid
title: 11ty Boilerplate
---
<h2><u> Welcome to Ground Control! </u></h2>
<h4> We look use the intersection of the remarkable abilities of AI large language models abilities to mirror our species wonder in looking towards the stars </h4>
<div class= GC_Content>
    <div class=GC_Boxes>
    <h4><a href=/blogpost/> January 1st </h4><p> ChatGPT 4.0</p></a>
    </div>
    
    <div class=GC_Boxes>
    <h4><a href=/blogpost2/> January 2st </h4><p> Microsoft Co-Pilot</p></a>
    </div>
</div>