<div class=footer>
  <footer class=AuthorshipInfo>
    <h3 class=AuthorShip> Authorship Information </h3>
    <p> Joshua Ennis <br> Communication Arts & Science <br> Twitter, Insta, Youtube or by contact us at<br> {% user "josh 'jennis' %}<a href="mailto:_____@msu.com">____@example.com</a><br></p>
  </footer>
  <footer class=WebLinks> 
    <h3> Site Map </h3>

    <p> <a href=index.liquid> Ground Control<p>
    <p> <a href=about.md> About<p>
    <p> <a href=exsplore.liquid> Exsplorer ChatGPT4.0<p>
    <p> <a href=exsplore_1.liquid> Exsplorer MS Co-Pilot<p>
  </footer>
</div class=footer>